// app global css

@font-face
  font-family montserrat
  src url(./fonts/Montserrat-Regular.ttf)

.default-font
  font-family 'montserrat'

@font-face
  font-family montserrat bold
  src url(./fonts/Montserrat-Bold.ttf)

.default-font-bold
  font-family 'montserrat bold'

body 
  font-family: 'montserrat';
  
.ellipsis 
  text-overflow: clip;