// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #19445b
$secondary = #16ac9f
$accent    = #f6f7f9

$positive  = #588b8b
$negative  = #000000
$info      = #ffffff
$warning   = #19445b
$background = #f6f7f9
